@model Church
@{
    ViewData["Title"] = "Single";
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="bigModalLabel">@Model.title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <img src="@Model.imgUrl"
             class="border border-secondary rounded-top rounded-3" alt="Church Image" style="object-fit: cover; width: -webkit-fill-available; max-height:200px;">
        <h5>@Model.title</h5>
        <p>@Model.address</p>
        <p>@Model.category</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Monday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 1)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Tuesday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 2)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Wensday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 3)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Thursday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 4)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Friday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 5)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Saterday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 6)?.time ?? "Close")</li>
            <li class="list-group-item py-1" style="font-size: smaller;"><span style="display: inline-block; width: 75px;"><b>Sunday:</b></span> @(Model.dates.FirstOrDefault(x => x.date == 7)?.time ?? "Close")</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>